# [SECRETS MANAGEMENT] - Modelo de Variáveis de Ambiente
# Nunca comite o arquivo .env contendo dados de produção reais para o Github!

# Banco de Dados
DB_HOST=127.0.0.1
DB_USER=zest_app_user
DB_PASSWORD=sua_senha_forte_aqui
DB_NAME=openfront_db

# Segurança JWT
JWT_SECRET=zest-super-secret-key-mude-em-prod

# Configurações de Ambiente
NODE_ENV=development # Altere para 'production' na sua Hospedagem
PORT=3002
